<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
<div class="container contact">
        <div class="row contact-fields">
            <div class="col-md-6 col-md-offset-3">
  {% if success %}
    <div class="alert alert-success">Your message has been sent.</div>
  {% else %}
    {% for message in form.firstName.errors %}
        <div class="flash alert alert-danger">{{ message }}</div>
    {% endfor %}

    {% for message in form.lastName.errors %}
      <div class="flash alert alert-danger">{{ message }}</div>
    {% endfor %}
    
    {% for message in form.email.errors %}
      <div class="flash alert alert-danger">{{ message }}</div>
    {% endfor %}
     
    {% for message in form.subject.errors %}
      <div class="flash alert alert-danger">{{ message }}</div>
    {% endfor %}
    
    {% for message in form.message.errors %}
      <div class="flash alert alert-danger">{{ message }}</div>
    {% endfor %}
<form action="{{ url_for('contact') }}" method="post" name="contact" role="form">
    {{form.hidden_tag()}}
    <div class="form-inline row">
     <div class="form-group col-sm-6">
    {{ form.firstName(class="form-control", placeholder="First Name", **{'data-validation':'required'}) }}
     </div>
     <div class="form-group col-sm-6">
    {{ form.lastName(class="form-control", placeholder="Last Name", **{'data-validation':'required'}) }}
     </div>
    </div>
    <br />
    <div class="from-group">
     <div class="input-group">
      <div class="input-group-addon">@</div>
    {{ form.email(class="form-control", placeholder="Enter email", **{'data-validation':'email'}) }}
     </div>
    </div>
    <br />
    <div class="form-group">
    {{ form.subject(class="form-control", placeholder="Subject", **{'data-validation':'required'}) }}
    </div>
    <div class="form-group">
    {{ form.message(class="form-control", placeholder="What's on your mind?", **{'data-validation':'required'}) }}
    </div>
    <div class="form-inline row">
      <div class="form-group col-sm-6 col-sm-offset-6">
    {{ form.submit(class="btn btn-default btn-block") }}
      </div>
    </div>
</form>
      </div><!-- ./col-md-6 -->
    </div><!-- ./ row -->
  {% endif %}
</div><!-- ./ contact -->

</body>
</html>